.intro {
  width: 90vw;
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;

  &__title {}
  &__substitle {}
  &__button {
    width: 270px;
    margin-top: 25px;
  }

  &__text-highlight {
    color: $secondary;
    font: {
      size: 1.5em;
      weight: 700;
    }
  }
}
