@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,700&display=swap');
@import './components/variables';
@import './components/buttons';
@import './components/fields';
@import './components/title';
@import './components/tracks';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  &::selection {
    background-color: #000;
  }
}

body {
  background-color: $base;
  color: $primary;
  font: {
    display: fallback;
    family: $poppins, sans-serif;
    size: 1em;
  }
}

.text-highlight {
  color: $secondary;
  font: {
    size: 1.5em;
    weight: 700;
  }
}

.wrapper {
  width: 90vw;
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}


@import './views/signin';
@import './views/signed';
