<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blade's Friend - Spotify Playlist</title>
</head>
<body>
    <h1>Welcome to my collaborative playlist!</h1>
    <p>Please recommend me your favorite music.</p>
    <form action="">
        <input type="text" placeholder="search your music">
        <button>add</button>
    </form>
    <div id="playlist"></div>
</body>
</html>
