<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blade's Friend - Spotify Playlist</title>
</head>
<body>
    <div class="wrapper signed">
        <div class="signed__user-info">
            <picture class="signed__photo">
                <img src="{{ data.photo }}" alt="{{ data.name }}" class="signed__photo-profile">
            </picture>
            <h1 class="signed__title">Hi, <span class="signed__name signed__text-highlight text-highlight">{{ data.name }}</span></h1>
            <p class="signed__welcome">Could you recommend me a music?</p>
        </div>
        <button class="signed__button signed__button-accept button__primary">YES!</button>
    </div>
</body>
</html>
