.field {
  &__primary {
    border: 0;
    border-radius: 4px;
    font: {
      size: 14px;
      weight: 700;
    }
    text: {
      transform: uppercase;
    }
    padding: {
      top: 12px;
      right: 12px;
      bottom: 12px;
      left: 12px;
    }
  }

  &__search {
    appearance: textfield;
    -webkit-appearance: textfield;
  }
}
